<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <p>This is Servers Component code and it uses a template as opposed to TemplateUrl</p>
            <app-servers></app-servers>
            <hr>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
            <p>This is code from the component I made for the assignment and it uses TemplateUrl</p>
            <app-mycomponent></app-mycomponent>
            <hr>
            <hr>
            <app-anothercomponent></app-anothercomponent>

            <app-warning-alert></app-warning-alert>
        </div>
    </div>
</div>